#slider {
  display: flex;
  flex-direction: row;
}
.carousel-images {
  display: flex;
  overflow: hidden;
  transition: transform 0.5s ease-in-out;
}

.carousel-images img {
  display: none;
  width: 30vw;
  max-height: 15vw;
  object-fit: contain;
  transition: opacity 0.5s ease-in-out;
}

.carousel-images img.active {
  display: block;
}
.carousel-images button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 2rem;
  color: white;
  z-index: 1;
}

/* Add more rules for additional slides */
